export(nnmf)
export(nnmf.project)
export(nnmf.match)
export(RunNMF)
export(average.expression)
export(cluster.divisive)
importFrom(Rcpp, evalCpp)
importFrom(qlcMatrix, cosSparse)
import(irlba)
importFrom(wordspace, dist.matrix)
importFrom(RcppHungarian, HungarianSolver)
import(Matrix)
useDynLib(scNMF, .registration = TRUE)
